@keyframes spin {
  to { transform: rotate(360deg); }
}

.spinner {
  display: inline-block;
  border-width: 2px;
  border-style: solid;
  border-radius: 9999px;
  border-top-color: var(--blue-base, #2C46B1);
  border-right-color: var(--gray-300, #CDCFD5);
  border-bottom-color: var(--gray-300, #CDCFD5);
  border-left-color: var(--gray-300, #CDCFD5);
  width: 1rem;
  height: 1rem;
  animation: spin 0.7s linear infinite;
}

@keyframes loading-bar {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

.animate-loading-bar {
  animation: loading-bar 1.2s cubic-bezier(0.4,0,0.2,1) infinite;
}
@import "tailwindcss";

@theme {
  --font-display: "Open Sans", "sans-serif";
  --font-logo: "Quicksand", "sans-serif";

  --blue-base: #2C46B1;
  --blue-dark: #2C4091;

  --white: #FFFFFF;

  --gray-100: #F9F9FB;
  --gray-200: #E4E6EC;
  --gray-300: #CDCFD5;
  --gray-400: #74798B;
  --gray-500: #4D505C;
  --gray-600: #1F2025;

  --feedback-danger: #B12C4D
}